body{
    /*background-color: #dac;*/
    background-image: url(http://st2.depositphotos.com/1052493/10074/v/110/depositphotos_100740224-Football-field-seamless-pattern.jpg);
}

.container{
    width: 60%;
    padding: 2%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.8);
}

.match__create{
    width: 90%;
}

#submitMatch{
    width: 40%;
    background-color: aqua;
}

