/*sass ./sass/style.scss ./css/style.css*/
html {
  font-family: "Helvetica", "Arial", sans-serif; }

body {
  background-image: url("../flags/footballfield_background.jpg");
  background: repeating-linear-gradient(90deg, #55B341, #55B341 80px, #6BD755 80px, #6BD755 160px);
  background-position: center; }

.container {
  font-family: "Helvetica", "Arial", sans-serif;
  margin-top: 50px;
  background-color: white;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  padding: 0%;
  border-radius: 10px;
  margin-bottom: 100px; }

form {
  background-color: #ececec;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 25px; }

.manage__create {
  padding-left: 15%; }

.match__create {
  padding: 0%;
  padding-top: 1%;
  padding-bottom: 1%; }

.formtitle {
  font-weight: bold; }

.input {
  padding-left: 15%; }

input[type="submit"] {
  background-color: white;
  color: "#3D3D3D";
  padding: 10px;
  border-radius: 5px; }

input[type="text"] {
  background-color: white;
  color: "#3D3D3D";
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
  width: 50%;
  margin-left: auto;
  margin-right: auto; }

.inputfield3 {
  width: 90%;
  border-radius: 5px; }

.updatecomm {
  width: 9%;
  height: 50px;
  background-color: #FFCC00;
  cursor: pointer;
  display: flex;
  align-content: space-around;
  justify-content: center;
  border-radius: 7px; }

.flat-button {
  background-color: #FFCC00;
  color: #3D3D3D;
  text-align: center;
  width: 50%;
  padding: 8px;
  border-radius: 7px;
  cursor: pointer; }

.modbutton1 {
  background-color: #00006e;
  border-radius: 15px;
  width: 60px;
  height: 35px;
  display: flex;
  align-content: top;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 2em;
  margin-left: 10px;
  cursor: pointer; }

.modbutton2 {
  background-color: #6e0000;
  border-radius: 15px;
  width: 60px;
  height: 35px;
  display: flex;
  align-content: top;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 2em;
  margin-left: 10px;
  cursor: pointer; }

.app__name {
  font-size: 2.8em;
  text-align: center;
  padding: 2%;
  font-weight: bold;
  color: "#3D3D3D"; }

.matches {
  padding-left: 12%;
  margin-bottom: 60px; }

.match__match {
  font-size: 1.5em;
  color: "#3D3D3D";
  /*padding: 1%;*/ }

.match:hover {
  background-color: cornsilk; }

.match {
  width: 50%;
  padding: 10px; }

.match__match:visited {
  color: "#3D3D3D"; }

.footertitle {
  background-color: cadetblue;
  color: white;
  text-align: center;
  font-size: 1.3em;
  padding: 1%; }

.match__name {
  text-align: center;
  color: "#3D3D3D";
  font-size: 3em;
  padding: 2%; }

.backlink {
  margin-left: 10%;
  text-align: center;
  font-size: 1.4em;
  padding: 1%; }

.match__results {
  display: flex;
  justify-content: center; }

.country1name {
  font-size: 2em;
  color: "#3D3D3D";
  padding: 10px; }

.country2name {
  font-size: 2em;
  color: "#3D3D3D";
  padding: 10px; }

.country1goals {
  font-size: 3em;
  color: "#3D3D3D"; }

hr {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }

h4 {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-content: center;
  justify-content: center; }

h4 div {
  padding: 10px; }

.commentarytitle {
  padding-left: 5%; }

.commentary {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto; }

.match__details {
  color: "#3D3D3D";
  font-size: 2em; }

.country1span {
  color: #00CF00; }

.country2span {
  color: #CF0000; }

.match__manage {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center; }

.buttons {
  width: 100%;
  display: flex;
  margin-bottom: 20px; }

.inputfield2 {
  width: 20%; }

.databox {
  visibility: hidden;
  display: none; }

.manage__unlock {
  padding-left: 5%; }

/*# sourceMappingURL=style.css.map */
