$font-base: "Helvetica", "Arial", sans-serif;
$background: "rgba(255,255,255, 0.8)";
$form-bg: "rgba(100,100,120, 0.8)";
$background-pattern: url('../flags/footballfield_background.jpg');
$textcolor: "#3D3D3D";
$team1color: "#00CF00";
$team2color: "#CF0000";
$flagBelgium: url('../flags/Belgium.png');
$flagEngland: url('../flags/England.png');
$flagFrance: url('../flags/France.png');
$flagRussia: url('../flags/Russia.png');
$flagGermany: url('../flags/Germany.png');
$flagIceland: url('../flags/Iceland.png');
$flagIreland: url('../flags/Ireland.png');
$flagItaly: url('../flags/Italy.png');
$flagPortugal: url('../flags/Portugal.png');
$flagSweden: url('../flags/Sweden.png');
$flagWales: url('../flags/Wales.png');



html {
    font-family: $font-base;
}

body {
    background-image: $background-pattern;
    width: 2000px;
    background-position: center;
}

.container {
    margin-top: 50px;
    background-color: $background;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    border-radius: 10px;
}
