br
br
div
    a#discussion__create-btn(href="#") create
div
    form#match__create(style="display: none;")
        input(type="text" name="_id" style="display: none;")
        input(type="text" name="matchname")
        input(type="submit" val="click")