doctype html
html(lang="en")
    head
        title= IMDFootball
        script
            include ../script/jquery-2.2.3.min.js
            include ../script/matches.js
        script.
            var id = '!{id}'

    body
        div.matches__container
        include ./create.jade