doctype html
html(lang="en")
  head
    title= IMD Football
    script
        include ../script/jquery-2.2.3.min.js
        include ../script/matches.js
    script.
        var id = '!{id}'
    
  body
      h1 #{id}