html
  head
    title= "IMD Football: Matches"
    //style
      //include ../build/css/build.css
    script(src='https://code.jquery.com/jquery-2.2.3.min.js')
    script
      include ../script/script.js
    script(src='http://localhost:3000/socket.io/socket.io.js')
  body
div.container
  h1= "Matches"
    form.match__create
      div.input
        input(type = "text", id = "matchName" class='inputfield' placeholder = "matchname")
        input(type = "text", id = "country1Name" class='inputfield' placeholder = "Name of host country")
        input(type = "text", id = "country2Name" class='inputfield' placeholder = "Name of visitor country")
        div(type = "submit", id = "submitMatch" class='flat-button') Post a new match
      ul.matches
        each match in matches
          a(href = '/matches/' + match.id)
            h2.match #{match.matchname}