.flat-button {
    background-color: #FFCC00;
    color: #3D3D3D;
    text-align: center;
    width: 50%;
    padding: 8px;
    border-radius: 7px;
    cursor: pointer;
}

.modbutton1 {
    background-color: #00006e;
    border-radius: 15px;
    width: 60px;
    height: 35px;
    display: flex;
    align-content: top;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 2em;
    margin-left: 10px;
    cursor: pointer;
}

.modbutton2 {
    background-color: #6e0000;
    border-radius: 15px;
    width: 60px;
    height: 35px;
    display: flex;
    align-content: top;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 2em;
    margin-left: 10px;
    cursor: pointer;
}