form {
    background-color: #ececec;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 25px;
}

.manage__create {
    padding-left: 15%;
}

.match__create {
    padding: 0%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.formtitle {
    font-weight: bold;
    
}

.input {
    padding-left: 15%;
}

input[type="submit"] {
    background-color: white;
    color: $textcolor;
    padding:10px;
    border-radius: 5px; 
}

input[type="text"] {
    background-color: white;
    color: $textcolor;
    border: 1px solid #ccc;
    padding:8px;
    border-radius: 5px; 
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
}

.inputfield3 {
    width: 90%;
    border-radius: 5px;
        
}

.updatecomm {
    width: 9%;
    height: 50px;
    background-color: #FFCC00;
    cursor: pointer;
    display: flex;
    align-content: space-around;
    justify-content: center;
    border-radius: 7px;
}
